<div class="div-container">
    <div class="div-header">
        <p *ngIf="!userLoggedIn"> </p>
        <div class="div-header1">
            <h1>Users</h1>
        </div>
        <div class="div-btn">
            <button class="btn logout" (click)="logout()" *ngIf="userLoggedIn">Logout</button>
        </div>
    </div>
    <div class="div-data-group card" id="group-{{i}}" *ngFor="let item of users; let i = index">
        <h4>{{item.username}}</h4>
        <small>{{item.email}}</small>
        <button (click)="toggleActivate(item, true)" class="btn btn-green"
            *ngIf="item.isActive === false">Activate</button>
        <button (click)="toggleActivate(item, false)" class="btn btn-red"
            *ngIf="item.isActive === true && item.id !== userId ">Disable</button>
    </div>
</div>