<div class="div-container">
    <div class="div-header">
        <button class="btn" (click)="toggleShowModalAddData()" *ngIf="sensorsData.userId == userId || isUserAdmin">Add data</button>
        <p *ngIf="!userLoggedIn"></p>
        <h1>{{sensorsData.name}}</h1>
        <button class="btn" *ngIf="userLoggedIn" (click)="logout()" >Logout</button>
        <button class="btn" *ngIf="!userLoggedIn" (click)="navigateToLogin()" >Login</button>
    </div>
    <div class="div-content" *ngIf="containsData">
        <div class="div-filters">

            <form [formGroup]="filtersForms" (ngSubmit)="submitFilter(filtersForms)">
                <h2>Filters</h2>
                <label>Start date:</label>
                <input type="date" formControlName="startDate" />
                <input type="time" formControlName="startTime" />
                <label>End date:</label>
                <input type="date" formControlName="endDate"/>
                <input type="time" formControlName="endTime" />    
                <button type="submit" class="btn">Set</button>
            </form>
        </div>
        <ngx-charts-line-chart *ngIf="sensorsData.content.length > 0"
        [view]="view"
        [results]="sensorsData.content"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
</div>

<div class="modal-overlay" [style.visibility]="showModalAddData || (userLoggedIn && containsData == false)? 'visible' : 'hidden'" *ngIf="sensorsData">
    <div class="modal-content">
        <form [formGroup]="formAddData" (ngSubmit)="onAddData(formAddData)">
            <label class="close close-label" (click)="toggleShowModalAddData()">&times;</label>
            <h1>Add data</h1>
            <label class="label-placeholder">{{curlExample}}</label>
            <textarea data-1p-ignore spellcheck="false" formControlName="data"></textarea>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</div>


